<section class="buy">
  <div class="buy_top">
    <div class="buy_top_title">
      Why buy direct <br> from Bose
    </div>
    <div class="buy_top_text">
      <p class="title_sm">Free 2-day shipping and returns</p>
      <p class="title_sm">90-day risk-free trial</p>
      <p class="title_sm">World class customer service</p>
      <p class="title_sm">My Bose account management</p>
      <p>A great product is more than what’s in the box. It’s a promise of premium performance, world-class support, and everything you expect from a trusted brand. It’s just one of many reasons why you’ll shop with confidence on Bose.com.</p>
    </div>
  </div>
  <div class="buy_image">

  </div>
</section>
