.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-top: 150px;

  &_title {
    @include title;
    width: 498px;
  }

  &_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_card:nth-child(odd) {
    margin-right: 24px;
  }


}

.categories .card_title {
  font-size: 24px;
}
